#root {
  /* max-width: 1280px; */
  /* width: 100vw;
  height: 100vh; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Lato", sans-serif;
  border-bottom: #2644ba 0.5rem solid;
  border-left: #2644ba 0.5rem solid;
  border-right: #2644ba 0.5rem solid;
  /* max-width: 100vw; */
  overflow-x: hidden;
}

.header {
  height: 4rem;
  width: 100%;
  background-color: #2644ba;
  color: #f9fcff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headercontent {
  height: 100%;
  width: 95%;
  display: flex;
  flex-direction: row;
}
.titlediv {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start; /* background-color: #fdc242; */
}
.titletext {
  font-size: 2rem;
}
.circles {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.headercircley {
  width: 1.5rem;
  height: 1.5rem;
  background-color: #fdc242;
  border-radius: 50%;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.headercirclew {
  width: 1.5rem;
  height: 1.5rem;
  background-color: #f9fcff;
  border-radius: 50%;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.headercircleo {
  width: 1.5rem;
  height: 1.5rem;
  background-color: #f86737;
  border-radius: 50%;
  margin-left: 0.5rem;
  /* margin-right: 0.5rem; */
}

.landing {
  width: 95%;
  height: 80vh;
  position: relative;
}
.landingbg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 5rem;
  text-align: start;
  color: #2644ba;
  opacity: 5%;
  position: absolute;
  top: 0;
  left: 0;
}
.landingcontent {
  width: 100%;
  height: 100%;
  flex-direction: row;
  display: flex;
}
.landingtextdiv {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: start;
}

.hello {
  margin-top: 2rem;
  font-size: 4rem;
  border-bottom: solid 0.4rem #fdc242;
  color: #2644ba;
  line-height: 3rem;
}
.intro {
  margin-top: 4rem;
  font-size: 2.5rem;
  color: #40589b;
  line-height: 3rem;
}
.landingimagediv {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.landingimage {
  width: 50%;
  height: 50%;
  background-color: #fdc242;
}

.projects {
  width: 100%;
  background-color: #e2e5eb;
  height: 220vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.work {
  width: 100%;
  background-color: #e2e5eb;
  height: 150vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.whitebgtop {
  width: 100%;
  height: 20%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f9fcff;
}
.whitebgbot {
  width: 100%;
  height: 20%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #f9fcff;
}
.projectsbg {
  color: #2644ba;
  opacity: 5%;
  font-size: 4rem;
  position: absolute;
  text-align: start;
  width: 95%;
}

.projectscontent {
  position: absolute;
  top: 0;
  width: 95%;
  height: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.labeldiv {
  width: 20%;
}
.label {
  width: min-content;
  padding: 0.5rem;
  background-color: #2644ba;
  color: #f9fcff;
  font-size: 1.4rem;
  margin-top: 2rem;
}
.cardsdiv {
  width: 100%;
  /* background-color: #40589b; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.cardscontainer {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.cardMain {
  margin-top: 2rem;
  margin-bottom: 1rem;
  width: 24rem;
  height: 29rem;
  /* background-color: #f86737; */
  margin-left: 2rem;
  margin-right: 2rem;
  border-bottom: #2644ba 0.2rem solid;
  border-left: #2644ba 0.2rem solid;
  border-right: #2644ba 0.2rem solid;
  background-color: #f9fcff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cardHeader {
  width: 100%;
  height: 3rem;
  background-color: #2644ba;
  display: flex;
  flex-direction: row;
  color: #e2e5eb;
  text-align: start;
}
.cardTitle {
  width: 80%;
  font-size: 1.4rem;
  padding: 0.5rem;
}
.cardCircles {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.cardcirclew {
  width: 1rem;
  height: 1rem;
  background-color: #f9fcff;
  border-radius: 50%;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}
.cardcircley {
  width: 1rem;
  height: 1rem;
  background-color: #fdc242;
  border-radius: 50%;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}
.cardcircleo {
  width: 1rem;
  height: 1rem;
  background-color: #f86737;
  border-radius: 50%;
  margin-left: 0.2rem;
  margin-right: 0.5rem;
}

.cardBody {
  height: 26rem;
  width: 100%;
  /* background-color: antiquewhite; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.cardImage {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  height: 12rem;
  width: 90%;
  object-fit: cover;
  border: #2644ba 0.2rem solid;
  background-color: #f9fcff;
}
.subtext {
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  color: #2644ba;
  border-bottom: solid 0.2rem #fdc242;
  line-height: 0.9rem;
  font-weight: 600;
}
.tagdiv {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 90%;

  /* justify-content: center; */
  /* align-items: center; */
}
.tag {
  /* background-color: #40589b; */
  /* color: #2644ba; */
  padding: 0.3rem;
  /* border: #40589b 0.2rem solid; */
  color: #40589b;
  background-color: #e2e5eb;
  border-radius: 8px;
  /* background-color: #40589b; */
  margin: 0.3rem;
}

.infodiv {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 90%;
  height: 100%;
  justify-content: flex-end;
  align-items: flex-end;
}
.infobutton {
  padding: 0.4rem;
  color: #40589b;
  /* background-color: #fdc242; */
  border: #fdc242 0.2rem solid;
  margin-left: 0.5rem;
  background-color: transparent;
  font-weight: 600;
}
