#root {
  /* max-width: 1280px; */
  /* width: 100vw;
  height: 100vh; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Lato", sans-serif;
}

.header {
  display: flex;
  flex-direction: row;
  height: 3rem;
  width: 80%;
  align-items: center;
}
.name {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 30%;
  margin: none;
  font-size: 1.5rem;
}
.links {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: none;
  font-size: 1.5rem;
}
.linkItem {
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}

.topline {
  width: 80%;

  border: 0.01rem solid black;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}
.bottomline {
  width: 80%;

  border: 0.01rem solid black;
  margin-top: 0.5rem;
  margin-bottom: 4rem;
}

.CardRow {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  /* padding: 1rem; */

  /* background-color: aqua; */
}

.CardMain {
  display: flex;
  flex-wrap: wrap;
  width: 15rem;
  height: 18rem;
  position: relative;
  background-color: #fdfdfd;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 10rem;
  /* margin-top: 4rem; */
  /* border: 0.1rem #11100e solid; */
}

.CardBody {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fdfdfd;
  border: 0.1rem #11100e solid;
  /* width: 100%;
  height: 10%; */
  width: 15rem;
  height: 24rem;
}
.CardPaper {
  position: absolute;
  top: -2rem;
  left: 2rem;
  font-weight: 300;
  background-color: #fdfdfd;

  width: 100%;
  height: 40%;
  border: 0.1rem #11100e solid;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: start;
}

.itemTitle {
  font-weight: 300;
  font-size: 1.7rem;
  margin: 0.8rem;
}
.CardTop {
  background-color: #2644ba;
  width: 100%;
  height: 30%;
}
.CardBottom {
  width: 100%;
}
